.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}



.about-container{
    background-color: white;
    /* border: 1px solid red; */
    min-height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
}


.about-container h1{
    font-size: 28px;
    line-height: normal;
    font-weight: 800;
    display: block;
    margin: 20px auto 20px auto;
}

.card p{
    max-width: 120px;
    text-align: center;
    /* border: 1px solid red; */
    margin-top: 20px;
}

.img{
    border-radius: 10px;
}