.logo-el{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 175px;
    height: 75px;
    margin-left: 0px;
    /* border: 1px solid red; */
}

.text p{
    margin-top: 0px;
    /* border: 1px solid red; */
}