

.navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 20;
    font-weight: 500;
    padding-bottom: 5px;
}

.pages{
    min-width: 500px;
}

.menu-bar{
    margin-right: 10px;
}